@import "tailwindcss";

@layer base {
  /* Definindo a fonte padrão */
  body {
    font-family: 'Montserrat', sans-serif;
  }
}

@layer utilities {
  /* Animações */
  .animate-fadeIn {
    animation: fadeIn 0.5s ease-in-out forwards;
  }

  .animate-pulse {
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  /* Keyframes para animações */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes pulse {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}